@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>@ViewData["Title"]</title>


  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <link rel="stylesheet" href="~/css/adminlte.min.css" asp-append-version="true">
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
</head>
<body class="hold-transition register-page">
<div class="register-box">
  <div class="card card-outline card-primary" id="register-form-id">
    <div class="card-header text-center">
      <a href="/" class="h1">Автоцентър Миро</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg" id="register-title"><b>Регистрация</b></p>

       <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating" id="register-username">
          <b asp-for="Input.UserName">Потребителско име</b>
          <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" />
          <span asp-validation-for="Input.UserName" class="text-danger"></span>
        </div>
        <div class="form-floating" id="register-email">
          <b asp-for="Input.Email">Имейл</b>
          <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" />
          <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
                    <div class="form-floating" id="register-password">
          <b asp-for="Input.Password">Парола</b>
          <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
          <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
                    <div class="form-floating" id="register-confirm-password">
          <b asp-for="Input.ConfirmPassword">Потвърдете парола</b>
          <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
          <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="row" id="register-row">

          <div class="btn-register">
            <button type="submit" class="register-submit">Създаване на профил</button>
          </div>

        </div>
      </form>
      <p class="after-register">
                    <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Вече имам профил./</a>
                </p>
      

    </div>

  </div>
</div>



<script src="~/plugins/jquery/jquery.min.js"></script>

<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="~/js/adminlte.min.js"></script>
 <partial name="_ValidationScriptsPartial" />
</body>
</html>
