@using MiroAutoCenter.Core.Models.Services
@model ServiceDeleteModel

@{
    ViewData["Title"] = "Service removal";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card card-danger">
            <div class="card-header">
                <h3 class="card-title">Are you sure you want to delete the following service?</h3>
            </div>
            <form method="post">
                <div class="card-body">
                    <div class="form-group text-center">
                        <h3 class="text-center" asp-for="Title">Name: @Model.Name</h3><br>
                    </div>
                </div>
                <div class="card-body">
                    <a asp-controller="Services" asp-action="All" class="btn btn-secondary">Cancel</a>
                    <button type="submit" class="btn btn-danger float-right">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}