html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
 // margin-bottom: 60px;
}

.container px-4 px-lg-5 {
    background-image: url("https://assets.porsche.com/-/media/Project/DealerWebsites/SaudiArabia/Riyadh/Offers-Teaser/PME-AS-22-145_Service-Clinic-Campaign-KSA_Website_Teaser_image_1920x1440px.jpg?rev=ab823375d5dd4480b404365be6021bc2");
}

#myInput {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 25%;
    float: right;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    border-radius: 10px 10px;
    position: absolute;
    margin-bottom: 20px;
}

#service-title {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 35px;
    position: absolute;
    right: 50%;
    transform: translate(50%,0%);
    max-width: 100%;
}

#service-text {
    font-size: 16px;
    margin-top: 150px;
}

#service-card {
    display: inline-block;
    width: 18rem;
    height: 350px;
    margin-top: 7%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px 10px;
    text-align: center;
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
    color: #fff;

}

#service-price {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 15px;
    max-width: 65px;
}

#service-duration {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 15px;
    max-width: 120px;
}

.appoint-btn {
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    border-radius: 30px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
}

.edit-btn, .delete-btn {
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    border-radius: 30px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    margin-right: 7px;
}

.edit-btn:hover, .delete-btn:hover {
    color: black;
}

.appoint-btn:hover {
    color: black;
}

#tools{
    height: 30px;
    width: 30px;
    display: inline-block;
    top: 0;
    left: 0;
    position: absolute;
    margin-left: 15px;
    margin-top: 15px;
}

/* About page CSS */

.about-page-text{
    font-size: 20px;
    margin-left: 5%
}

.about-page-section{
    width:100%;
    display: flex;
    flex-direction: row;
}

.about-page-image, .about-page-text{
    width: 47%;
}

.about-page-image img{
    max-width: 100%;
    margin-right: 1%;
    background-color: #fff
}

/* Contact page CSS */

.contact-text {
    font-size: 20px;
    margin-left: 5%;
    background: radial-gradient(590px at 8.2% 13.8%, rgb(18, 35, 60) 0%, rgb(187, 187, 187) 180%);
    color: #fff;
    border-radius: 20px 20px;
}

.contact-section {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.contact-image, .contact-text {
    width: 47%;
}

.contact-image img {
    max-width: 100%;
    margin-right: 1%;
    background-color: #fff
}

.contact-text div{
    display: flex;
    margin-bottom: 5%;
    height: 25%;
    margin-left: 17%;
}

.contact-icons{
    height: 60px;
    width: 60px;
}

.contact-text div span{
    margin-right: 5%;
}

.email-container{
    margin-top: 10%;
}

.contact-text div span {
    margin-top: 4%;
}

.contact-text-title {
    margin-left: 32%;
    margin-top: 3%;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 40%;
}

.pagination{
    margin-top: 50px;
}

#dropdownSubMenu1{
    color: black;
}

.font-weight-light{
    font-weight: 600!important;
}

#admin-welcome{
    margin-left: 5px;
    font-size: 18px;
}

#options-list{
    font-size: 16px;
}

#options-list li:first-child{
    font-size: 24px;
}

#admin-panel {
    margin-left: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.button-84 {
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(#464d55, #25292e);
    border-radius: 8px;
    border-width: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 18px;
    height: 52px;
    justify-content: center;
    line-height: 1;
    outline: none;
    overflow: hidden;
    padding: 0 32px;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 150ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 4%;
}

.button-84:hover {
    box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
    opacity: .85;
    color: #fff;
}

.button-84:active {
    outline: 0;
}

.button-84:focus {
    box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

.cars-table-header {
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    color: #fff;
    text-align: center;
    padding: 25px 0px 15px 0px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: unset;
}
#add-cars-table{
    border: unset;
}

#cars-first-row th {
    background: #fff;
    color: black;
    font-size: 20px;
    border: unset;
}

.cars-rows td {
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    color: #fff;
    font-size: 18px;
}

.cars-rows td:last-child {
    text-align: center;
}

.details-btn {
    align-items: center;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    border-radius: 8px;
    border-width: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 18px;
    height: 35px;
    justify-content: center;
    line-height: 1;
    outline: none;
    overflow: hidden;
    padding: 0 16px;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 150ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.cancel-btn, .add-btn{
    font-size: 18px;
    padding: 15px;
    align-items: center;
    border-radius: 8px;
    border-width: 0;
    height: 50px;
    width: 110px;
    line-height: 1;
    outline: none;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.cancel-btn {
    float: left;
    background: linear-gradient(180.2deg, rgb(30, 33, 48) 6.8%, rgb(74, 98, 110) 131%);
}

.cancel-btn:hover{
    color: #fff;
}

.add-btn {
    float: right;
    background: radial-gradient(circle at 10% 20%, rgb(0, 93, 133) 0%, rgb(0, 181, 149) 90%);
}

#add-car-container{
    font-size: 22px;
}

#add-car-header {
    background: linear-gradient(109.6deg, rgb(6, 2, 2) 32.4%, rgb(137, 30, 47) 46%);
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.home-page-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.home-page-container img{
    width: 90%;
}

.home-page-container p {
    position: absolute;
    top: 20px;
    left: 30px;
    color: #fff;
    font-size: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.check-services {
    position: absolute;
    bottom: -20px;
    left: 30px;
    align-items: center;
    background-color: initial;
    background: linear-gradient(to top, #dfe9f3 0%, white 100%);
    border-radius: 8px;
    border-width: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 18px;
    height: 52px;
    justify-content: center;
    line-height: 1;
    outline: none;
    overflow: hidden;
    padding: 0 32px;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 150ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 4%;
}



#appts h3 {
    margin-top: 10px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#appts-list li {
    border-radius: 15px;
}

#appts-list li a{
    color: #fff!important;
    font-weight: 500;
    font-size: 20px;
}

#appts-list li:nth-child(1), li:nth-child(2){
    margin-right: 13%;
}

#appts-list li:nth-child(1) {
    background: radial-gradient(circle at -1% 57.5%, rgb(19, 170, 82) 0%, rgb(0, 102, 43) 90%);
    margin-left: 2%;
}

#appts-list li:nth-child(2) {
    background: radial-gradient(590px at 8.2% 13.8%, rgb(18, 35, 60) 0%, rgb(187, 187, 187) 90%);
}

#appts-list li:nth-child(3) {
    background: radial-gradient(circle at 10.6% 22.1%, rgb(206, 18, 18) 0%, rgb(122, 21, 21) 100.7%);
}

#appts {
    text-align: center;
    background: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
}

#user-email {
    background: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
}

#user-email h3{
    font-weight: 600;
}

#email-icon{
    margin-right: 10px;
}

#card-outline-username{
    border:none;
}

#login-row{
    margin-top: 15px;
}

.login-submit {
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(#464d55, #25292e);
    border-radius: 8px;
    border-width: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 18px;
    height: 45px;
    justify-content: center;
    line-height: 1;
    outline: none;
    overflow: hidden;
    padding: 0 32px;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 150ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 4%;
}

#login-form-id{
    width:400px;
    height:560px;
}

#login-username, #login-password {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 18px;
}

#login-password {
    margin-top: 6%;
}

#login-title{
    font-size: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-login{
    margin-left: 36%;
    margin-top: 5%;
}

.after-login{
    text-align: center;
    margin-top: 5%;
    font-size: 16px;
}

#register-row {
    margin-top: 15px;
}

.register-submit {
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(#464d55, #25292e);
    border-radius: 8px;
    border-width: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 18px;
    height: 45px;
    justify-content: center;
    line-height: 1;
    outline: none;
    overflow: hidden;
    padding: 0 32px;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 150ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 4%;
}

#register-form-id {
    width: 400px;
    height: 650px;
}

#register-username, #register-email, #register-password, #register-confirm-password {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 18px;
}

#register-email, #register-password, #register-confirm-password {
    margin-top: 6%;
}

#register-title {
    font-size: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-register {
    margin-left: 26%;
    margin-top: 5%;
}

.after-register {
    text-align: center;
    margin-top: 5%;
    font-size: 16px;
}

.timeline-item h3, .timeline-item h5{
    font-weight: 600;
    margin-left: 10px;
    color: black;
}

.timeline-item span{
    float: right;
    position: relative;
    top: -35px;
    padding: 5px;
}

.timeline-item{
    padding: 10px!important;
}

#manage-roles-container{
    font-size: 18px;
}

.actions-btns a{
    font-size: 18px;
    font-weight: 600;
}

.ext-logins button:first-child{
    margin-right: 53%;
}

#navbarCollapse > ul > li.nav-item.dropdown > ul{
    width: 200px;
}

@media only screen and (max-width: 600px) {
    .contact-image {
        display: none;
    }

    .contact-text {
        width: 90%;
        height: 100%;
    }

    .about-page-image {
        display: none;
    }

    .about-page-text {
        width: 90%;
        height: 100%;
    }

    #myInput{
        width: 50%;
    }

    #appts-list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #appts-list li {
        width: 80%;
        margin-bottom: 2%;
        text-align: center;
        margin-left: unset;
        margin-right: unset;
    }
    #appts-list li:first-child {
        margin-left: unset;
        margin-right: unset;
    }

    .home-page-container p{
        font-size: 26px;
    }

    .home-page-container{
        align-items: center;
        text-align: center;
    }
}

.brand-link{
    height: 80px;
}
