html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
 // margin-bottom: 60px;
}

.container px-4 px-lg-5 {
    background-image: url("https://assets.porsche.com/-/media/Project/DealerWebsites/SaudiArabia/Riyadh/Offers-Teaser/PME-AS-22-145_Service-Clinic-Campaign-KSA_Website_Teaser_image_1920x1440px.jpg?rev=ab823375d5dd4480b404365be6021bc2");
}

#myInput {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    border-radius: 10px 10px;
}

#service-title {
    font-size: 30px;
    margin-bottom: 35px;
    position: absolute;
    right: 50%;
    transform: translate(50%,0%);
}

#service-text {
    font-size: 16px;
    color: grey;
    margin-top: 150px;
}

#service-card {
    display: inline-block;
    width: 400px;
    height: 350px;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px 10px;
    text-align: center;
}
