@using MiroAutoCenter.Core.Models.Cars
@model CarAddFormModel


<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Добавяне на кола</h3>
            </div>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-body">
                    <div class="form-group">
                        <label>Марка</label>
                        <input asp-for="Make" class="form-control" placeholder="Марка...">
                        <span asp-validation-for="Make" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Модел</label>
                        <input asp-for="Model" class="form-control" placeholder="Модел...">
                        <span asp-validation-for="Model" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Година на производство</label>
                        <input asp-for="YearOfCreation" class="form-control" placeholder="Година на производство...">
                        <span asp-validation-for="YearOfCreation" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label class="control-label">Регистрационен номер</label>
                            <input asp-for="PlateNumber" class="form-control" value="">
                            <span asp-validation-for="PlateNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">Пробег</label>
                            <input asp-for="Mileage" class="form-control">
                            <span asp-validation-for="Mileage" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-9">
                            <label class="control-label">Категория</label>
                            <select asp-for="CarTypeId" class="form-control">
                                @foreach (var carType in Model.CarTypes)
                                {
                                    <option value = "@carType.Id">@carType.Type</option>
                                }
                            </select>
                            <span asp-validation-for="CarTypeId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <a asp-controller="Cars" asp-action="All" class="btn btn-secondary">Отмяна</a>
                    <button type="submit" class="btn btn-primary float-right">Добави</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}