@using MiroAutoCenter.Core.Models.Cars
@model CarAddFormModel

@{
    ViewData["Title"] = "Edit car";
}

<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="card card-warning">
            <div class="card-header">
                <h3 class="card-title">Edit car with plate number @Model.PlateNumber</h3>
            </div>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Make"></label>
                        <input asp-for="Make" class="form-control">
                        <span asp-validation-for="Make" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model"></label>
                        <input asp-for="Model" class="form-control">
                        <span asp-validation-for="Model" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="YearOfCreation"></label>
                        <input asp-for="YearOfCreation" class="form-control">
                        <span asp-validation-for="YearOfCreation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PlateNumber"></label>
                        <input asp-for="PlateNumber" class="form-control">
                        <span asp-validation-for="PlateNumber" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label asp-for="Mileage" class="control-label"></label>
                            <input asp-for="Mileage" class="form-control">
                            <span asp-validation-for="Mileage" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-9">
                            <label asp-for="CarTypeId" class="control-label"></label>
                            <select asp-for="CarTypeId" class="form-control">
                                @foreach (var carType in Model.CarTypes)
                                {
                                    <option value="@carType.Id">@carType.Type</option>
                                }
                            </select>
                            <span asp-validation-for="CarTypeId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <a asp-controller="Cars" asp-action="All" class="btn btn-secondary">Cancel</a>
                    <button type="submit" class="btn btn-warning float-right">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}