<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 align-items-center my-5">

        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://assets.porsche.com/-/media/Project/DealerWebsites/SaudiArabia/Riyadh/Offers-Teaser/PME-AS-22-145_Service-Clinic-Campaign-KSA_Website_Teaser_image_1920x1440px.jpg?rev=ab823375d5dd4480b404365be6021bc2" alt="..." /></div>
        <div class="col-lg-5">
            <h1 style="font-size:52px; color: white";>Welcome to our car repair shop!</h1>
        </div>
    </div>
</div>


