<div class="home-page-container">
   <img src="~/img/homepage.jpg" />
   <p>Добре дошли в Автоцентър Миро!</p>
    <a class="check-services" asp-area="" asp-controller="Services" asp-action="All">Разгледайте нашите услуги</a>
</div>

