<div class="home-page-container">
   <img src="~/img/homepage.jpg" />
   <p>Welcome to MiroAutoCenter</p>
    <a class="check-services" asp-area="" asp-controller="Services" asp-action="All">Check our services</a>
</div>

