@using MiroAutoCenter.Core.Models.Ratings
@model RatingAddModel
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="card card-primary" id="add-car-container">
            <div class="card-header" id="add-rating-header">
                <h3 class="card-title">Добавяне на отзив</h3>
            </div>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-body">
                    <div class="form-group">
                        <label>Рейтинг</label>
                        <input asp-for="StarRating" class="form-control" id="rating-input" placeholder="Добавете рейтинг тук...">
                        <span asp-validation-for="StarRating" class="text-danger"></span>
                        <br />
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="form-group">
                        <label>Коментар</label>
                        <input asp-for="Comment" class="form-control" placeholder="Добавете коментар тук...">
                        <span asp-validation-for="Comment" class="text-danger"></span>
                    </div>
                    <button type="submit" class="add-btn">Добавяне</button>


                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}


<style>
    #rating-input {
        display: none;
    }

    .fa-star{
        cursor: pointer;
    }

    .checked {
        color: orange;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var stars = document.querySelectorAll(".fa-star");
        var ratingInput = document.getElementById("rating-input");

        stars.forEach(function (star, index) {
            star.addEventListener("click", function () {
                for (var i = 0; i <= index; i++) {
                    stars[i].classList.add("checked");
                }

                for (var j = index + 1; j < stars.length; j++) {
                    stars[j].classList.remove("checked");
                }

                ratingInput.value = index + 1;
            });
        });
    });
</script>
