<section class="about-page-section">
    <div class="about-page-image">
        <img src="~/img/about-page1.png">
    </div>
    <div class="about-page-text">
        <p>Добре дошли в MiroAutoCenter, където сме специализирани в предоставянето на първокласни услуги за всички видове автомобили. Нашите опитни и сертифицирани механици имат знанията и опита да се справят с всеки проблем, с който може да се сблъска вашата кола, от рутинна поддръжка до сложни ремонти.</p>
        <p>Ние разбираме, че вашият автомобил е важна част от вашето ежедневие и се стремим да ви върнем на пътя възможно най-скоро. Нашето най-модерно съоръжение е оборудвано с най-новите инструменти и технология, за да гарантира, че вашият автомобил ще бъде фиксиран правилно от първия път.</p>
        <p>Ние се ангажираме да предоставим на нашите клиенти най-високо ниво на удовлетворение. Ние искаме да бъдем вашият любим сервиз за ремонт на всички ваши превозни средства. Благодарим ви, че избрахте нас за вашите нужди от ремонт на автомобили.</p>
    </div>
</section>