<section class="about-page-section">
    <div class="about-page-image">
        <img src="~/img/about-page1.png">
    </div>
    <div class="about-page-text">
<p>Welcome to MiroAutoCenter, where we specialize in providing top-notch services for all types of vehicles. Our experienced and certified mechanics have the knowledge and expertise to tackle any issue your car may be facing, from routine maintenance to complex repairs.</p>
<p>We understand that your car is a crucial part of your daily life and we strive to get you back on the road as soon as possible. Our state-of-the-art facility is equipped with the latest tools and technology to ensure that your car is fixed correctly the first time.</p>
<p>We also offer a wide range of services, including oil changes, brake repairs, transmission work, and more. Our team is dedicated to providing you with honest and transparent service, so you can trust that you're getting the best value for your money.</p>
<p>We are committed to providing our customers with the highest level of satisfaction. We want to be your go-to auto repair shop for all your vehicle needs. Thank you for choosing us for your car repair needs.</p>
    </div>
</section>