@using Microsoft.AspNetCore.Identity
@using MiroAutoCenter.Core.Constants
@using MiroAutoCenter.Core.Models.Users
@using MiroAutoCenter.Data.Models

@inject SignInManager<WebsiteUser> SignInManager
@inject UserManager<WebsiteUser> UserManager
@model UserDetailsModel

@{
    ViewBag.Title = $"Профил на {Model.Username}";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <div class="card card-primary card-outline" id="card-outline-username">
                    <div class="card-body box-profile">
                        <h3 class="profile-username text-center">@Model.Username</h3>
                        <p class="text-muted text-center">@(Model.Role == null ? "Потребител" : Model.Role)</p>
                    </div>

                </div>

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="card card-primary">
                        <div class="card-header" id="user-email">
                            <h3 class="card-title">Имейл на потребителя</h3>
                        </div>
                        <div class="card-body">
                            <strong><i class="fa-solid fa-envelope" id="email-icon"></i>@Model.Email</strong>
                        </div>
                    </div>
                    @if (!this.User.IsInRole(UserConstants.Administrator) && !this.User.IsInRole(UserConstants.Receptionist))
                    {
                        <div class="card card-primary card-outline" id="repair-history">
                            <div class="card-body box-profile">
                                <a class="nav-link" asp-area="" asp-controller="User" asp-action="History">История на ремонти</a>
                            </div>
                        </div>
                    }
                    
                }
                else
                {
                    <div class="card card-primary">
                        <div class="card-header" id="user-email">
                            <h3 class="card-title">Имейл на потребителя</h3>
                        </div>
                        <div class="card-body text-center">
                            <strong>За да видите своя имейл, <a asp-area="Identity" asp-page="/Account/Login">влезте</a> в своя профил или <a asp-area="Identity" asp-page="/Account/Register">се регстрирайте</a>.</strong>
                        </div>
                    </div>
                }
            </div>
            @if (!this.User.IsInRole(UserConstants.Administrator) && !this.User.IsInRole(UserConstants.Receptionist))
            {
                <div class="col-md-9">
                    <div class="card" id="appts">
                        <h3>Натиснете, за да видите заявки</h3>
                        <div class="card-header p-2">
                            <ul class="nav nav-pills" id="appts-list">
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="User" asp-action="ApprovedAppointments">Одобрени</a></li>
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="User" asp-action="WaitingForApproval">Изчакващи одобрение</a></li>
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="User" asp-action="RejectedAppointments">Отхвърлени</a></li>
                            </ul>
                        </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>


<style>
    #repair-history{
        text-align: center;
        font-size: 18px;
    }
</style>