@using MiroAutoCenter.Core.Constants

@if (this.User.IsInRole(UserConstants.Administrator))
{
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="/" class="brand-link">
            <img src="~/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">Admin panel/span>
        </a>

    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="info">
                    <a class="d-block text-center">Welcome <br>the admin panel, <br><b>@this.User.Identity?.Name</b></a>
                </div>
            </div>

        <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">Options</li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Services" asp-action="Add" class="nav-link">
                            <i class="nav-icon far fa-calendar-alt"></i>
                            <p>
                                Add service
                                <span class="badge badge-info right"></span>
                            </p>
                        </a>
                    </li>
                    @*<li class="nav-item">
                        <a asp-area="" asp-controller="Admin" asp-action="ApproveServices" class="nav-link">
                            <i class="nav-icon far fa-image"></i>
                            <p>
                                Services to approve
                            </p>
                        </a>
                    </li>*@
                    <li class="nav-item">
                        <a asp-area="RoleManage" asp-controller="UserRole" asp-action="ManageUsers" class="nav-link">
                            <i class="nav-icon fas fa-user-cog"></i>
                            <p>
                                Управление на роли
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>
    </div>
</aside>
}